/* Estilos para la barra de navegación */
.navbar {
    background-color: #9ac2b7;
    /* Verde pastel */
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    font-size: 18px;
    color: #fff;
}

/* Estilos para la sección de bienvenida */
.welcome-section {
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    background-color: #f2ece8;
    /* Beige pastel */
}

.welcome-section h1 {
    font-size: 36px;
    color: #3d6b57;
    /* Verde oscuro */
}

.welcome-section p {
    font-size: 18px;
    color: #777;
}

/* Estilos para la sección de características destacadas */
.features-section {
    padding: 50px 0;
}

.features-section h2 {
    font-size: 24px;
    color: #3d6b57;
}

.features-section ul {
    list-style-type: none;
    padding: 0;
}

.features-section li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

/* Estilos para la ventana modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f2ece8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #888;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #3d6b57;
}
/* Animación de desvanecimiento para div1 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplicar animación de desvanecimiento a div1 con retraso */
.div1 {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 2s; /* Retrasar 0.5 segundos */
  margin-top: 10%;
  margin-left: 50%;
  width: 50%;
}

/* Animación de desvanecimiento para div2 */
.div2 {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  margin-top: 1%;
  width: 50%;
}

/* Clase de animación normal sin retraso */
.animated {
  animation-fill-mode: both;
}

.infoPrin1{
    background-color: #f5ffef;
}

.div2 img{
    margin: 0px;
}
