<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap JS, Popper.js, y jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
  <!-- Cabecera de la Aplicación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ navbarData.brand }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">{{ navbarData.links[0].text }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="openModal()">{{ navbarData.links[1].text }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ navbarData.links[2].text }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ navbarData.links[3].text }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección de Bienvenida -->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h1>{{ welcomeData.title }}</h1>
          <p>{{ welcomeData.description }}</p>
        </div>
      </div>
    </div>
  </section>
  
<br><br>
<!-- Contenedor principal -->
<div class="container">
  <div class="animated fade-in div2">
    <div class="d-flex align-items-center">
      <img src="/assets/img/cultivador.jpg" alt="" style="height: 200px;">
      <div class="ml-4">
        <h2>Div a la izquierda</h2>
        <p>Contenido del div a la izquierda.</p>
      </div>
    </div>
  </div>
  <div class="animated fade-in div1">
    <div class="d-flex align-items-center">
      <img src="/assets/img/cerca-caja-verduras-maduras.jpg" alt="" style="height: 200px;">
      <div class="ml-4">
        <h2>Div a la derecha</h2>
        <p>Contenido del div a la derecha.</p>
      </div>
    </div>
  </div>
</div>

  <!-- Pie de Página -->
  <footer class="fixed-bottom text-center">
    <p>Contacto: {{ contactData.correo }}</p>
    <p>Síguenos en redes sociales: {{ contactData.redesSociales }}</p>
  </footer>

  <!-- Aquí puedes agregar otros elementos de tu página si es necesario -->

</body>

</html>